:root {
    --bg-color: #faebd7;
    --bg-color-dark: #282c34;
}

html {
    height: 100%;
}

.bg-color {
    background-color: var(--bg-color-dark);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color-dark);
    color: #faebd7;
    height: 100%;
    font-size: 15px/1.8 ;
    font-weight: 400;
}


main.mt-0 {
    margin-top: 58px !important;
}

main.mt-1 {
    margin-top: calc(58px + 0.25rem) !important;
}



.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* .parallax-text {
    color: #0d3f1a;
    font-size: 25px;
    font-weight:700;
    padding: 18px;
    background-color: rgba(215, 250, 221, 0.9);
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

.parallax-text-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
} */


.top-10p {
    top: 10%;
}

.top-50p {
    top: 50%;
}

.top-80p {
    top: 80%;
}

.top-70p {
    top: 70%;
}

.scrollable-options {
    height: 650px;
    overflow-y: scroll;
    border-color: #D7E6FA;
}

.weird-main {
    padding-top: 58px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto !important;
}

.weird-footer {
    width: 100%;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}


@media screen and (max-width: 290.99px) {
    main.mt-0 {
        margin-top: 98px !important;
    }

    main.mt-1 {
        margin-top: calc(98px + 0.25rem) !important;
    }
}